!!!
%html{lang: "en", "xml:lang" => "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title ComCo
    = csrf_meta_tags
    %meta{charset: "UTF-8"}/
    %meta{content: "notranslate", name: "google"}/
    %meta{content: "en", "http-equiv" => "Content-Language"}/
    / %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    /%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/

    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"


    = javascript_include_tag "https://cdn.icecomm.io/icecomm.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
    = javascript_include_tag "application"
    
  %body

    = render 'layouts/flash', flash: flash

    = render 'main/panel_signup'

    = yield

